{% extends 'index.html' %}

{% block main %}
<main>
    <div>
        <p class="about_text">
            Чуть ли не каждый день мы создаем новые аккаунты в различных сервисах и придумываем для них пароли. Как мы это делаем?
        </p>
            <ul class="about_text">
                <li>Используем важные для нас слова и числа.</li>
                <li>Длина таких паролей как правило не превышает 10-12 символов.</li>
                <li>Со временем наши пароли для разных сервисов начинают повторяться, а то и вообще мы используем один пароль для всего.</li>
            </ul>
        <p class="about_text">
            Все это ведет к тому, что наши аккаунты могут быть взломаны. Короткие пароли из существующих слов с большей вероятностью могут быть подобраны злоумышленником. А повторение паролей может привести к тому, что взлом неважного аккаунта со слабой защитой позволит злоумышленнику беспрепятсвенно войти в важный для нас аккаунт.
        </p>
        <p class="about_text">
            Этот сервис избавляет от головной боли придумывания паролей. Установите необходимые настройки и сгенерируйте пароль, который почти невозможно взломать.
        </p>
    </div>
</main>
{% endblock %}